/*==========================================
    blog
===========================================*/
.blog {
    &.blog-page {
        padding: 120px 0 90px;
        .single-post {
            @include transition($transition);
            .part-img {
                &:after, &:before {
                    opacity: .4;
                }
            }
            &:hover {
                background: $secondary-color;
                .part-text {
                    span.date, a.title {
                        color: $white;
                    }
                }
            }
        }
    }
    .single-post {
        &:hover {
            .part-img {
                &:after, &:before {
                    width: 50%;
                }
                .content-on-img {
                    opacity: 1;
                    a.view-button {
                        margin-bottom: 0;
                    }
                }
            }
            .part-text {
                box-shadow: 1px 7px 9px 0px rgba(0, 0, 0, 0.19);
                &:after {
                    background: $base-color;
                }
            }
        }
        .part-img {
            position: relative;
            z-index: 2;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #000;
                opacity: .83;
                z-index: 0;
                @include transition($transition);
            }
            &:before {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #000;
                opacity: .83;
                z-index: 0;
                @include transition($transition);
            }
            img {
                width: 100%;
            }
            .content-on-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                opacity: 0;
                a.view-button {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    background: $base-color;
                    box-shadow: 0px 9px 24px 0px rgba(251, 79, 0, 0.39);
                    color: $white;
                    border-radius: 50%;
                    line-height: 60px;
                    text-align: center;
                    margin-bottom: -30px;
                    transition: all 0.3s cubic-bezier(0, 4.68, 0.58, 1);
                }
            }
        }
        .part-text {
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.14);          
            @include transition($transition);
            padding: 40px 30px;
            margin-bottom: 30px;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                width: 4px;
                background: $third-color;
                top: 40px;
                bottom: 40px;
            }
            span.date {
                color: #666666;
                font-size: 14px;
                display: block;
                margin-bottom: 6px;
            }
            a.title {
                display: block;
                color: $secondary-color;
                font-size: 20px;
                font-weight: 700;
                font-family: $heading-font;
                line-height: 30px;
            }
        }
    }
}