/*==========================================
    feature
===========================================*/
.feature {
    // padding: 120px 0;
    position: relative;
    transform: translateY(-50%);
    margin-bottom: -178px;
    z-index: 2;
    .single-feature {
        background: #0c0c0c;
        padding: 50px 40px 70px;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 0;
            width: 50%;
            z-index: -1;
            background: #0189ff;
            @include transition($transition);
        }
        &:before {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            height: 0;
            width: 50%;
            z-index: -1;
            background: #0189ff;
            @include transition($transition);
        }
        &:hover {
            &:after, &:before {
                height: 100%;
            }
            .more-feature-button {
                visibility: visible;
                opacity: 1;
                bottom: -30px;
            }
        }
        &.active {
            background: #0189ff;
            &:after, &:before {
                background: #0c0c0c;
            }
        }
        .part-icon {
            width: 60px;
            display: inline-block;
            margin-bottom: 25px;
            img {
                width: 100%;
            }
        }
        .part-text {
            h3 {
                font-size: 24px;
                font-weight: 600;
                color: $white;
                margin-bottom: 16px;
            }
            p {
                color: $white;
                margin: 0;
            }
        }
        
        .more-feature-button {
            text-align: center;
            margin-top: -30px;
            position: absolute;
            z-index: 2;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            @include transition($transition);
            a {
                display: inline-block;
                width: 60px;
                height: 60px;
                background: $base-color;
                box-shadow: 0px 9px 24px 0px rgba(251, 79, 0, 0.39);
                color: $white;
                border-radius: 50%;
                line-height: 60px;
                text-align: center;
            }
        }
    }
}