/*==========================================
    breadcrumb
===========================================*/
.breadcrumb-ind {
    background: url('../img/breadcrump-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .64;
        z-index: -1;
    }
    .breadcrumb-content {
        margin-top: 184px;
        padding: 120px 0;
        h2 {
            color: $white;
            font-size: 44px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: -11px;
        }
        ul {
            li {
                color: $white;
                font-size: 16px;
                display: inline-block;
                margin-right: 10px;
                a {
                    display: inline-block;
                    color: $white;
                    font-size: 16px;
                }
            }
        }
    }
}