/*==========================================
    contact section
===========================================*/
.contact-section {
    padding: 120px 0;
    .address-area {
        margin-bottom: 70px;
        .single-address-card {
            text-align: center;
            padding: 40px 0;
            border: 2px solid #e7e7e7;
            border-radius: 10px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            margin-bottom: 30px;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: $base-color;
                @include transition($transition);
                z-index: -1;
            }
            &:before {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: $base-color;
                @include transition($transition);
                z-index: -1;
            }
            &:hover {
                &:after, &:before {
                    width: 50%;
                }
                .part-icon {
                    img {
                        filter: brightness(100) grayscale(1);
                    }
                }
                .part-text {
                    span.title, span.info {
                        color: $white;
                    }
                }
            }
            .part-icon {
                height: 50px;
                display: inline-block;
                margin-bottom: 21px;
                img {
                    height: 100%;
                }
            }
            .part-text {
                span {
                    display: block;
                    &.title {
                        font-size: 26px;
                        font-weight: 600;
                        color: $secondary-color;
                        font-family: $heading-font;
                        margin-bottom: 7px; 
                        @include transition($transition);
                    }
                    &.info {
                        color: #999999;
                        font-size: 18px;
                        font-family: $heading-font; 
                        @include transition($transition);
                    }
                }
            }
        }
    }
    .contact-form {
        h3 {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            color: $secondary-color;
            margin-bottom: 52px;
            span.marked {
                color: $base-color;
                font-family: $playfair;
                font-style: italic;
            }
        }
        form {
            input, select {
                width: 100%;
                height: 60px;
                padding: 0 30px;
                margin-bottom: 15px;
                background: #eef1f5;
                border: none;
                color: $secondary-color;
            }
            .select-box {
                position: relative;
                .icon {
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-65%);
                    z-index: 2;
                }
                .select {
                    appearance: none;
                    position: relative;
                    color: $secondary-color;
                    &:before {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: red;
                    }
                }
            }
            textarea {
                width: 100%;
                height: 130px;
                padding: 13px 30px;
                border: none;
                background: #eef1f5;
                color: $secondary-color;
                display: grid;
            }
            button {
                font-family: $heading-font;
                font-weight: 600;
                font-size: 16px;
                color: $white;
                background: $base-color;
                height: 60px;
                width: 180px;
                border-radius: 50px;
                border: none;
                outline: none;
                cursor: pointer;
                margin-top: 30px;
                box-shadow: 0px 3px 10px 0px rgba(251, 79, 0, 0.3);
                border: 1px solid $base-color;
                @include transition($transition);
                &:hover {
                    color: $secondary-color;
                    background: transparent;
                    border-color: $secondary-color;
                }
            }
        }
    }
    .map {
        height: 100%;
    }
}