/*==========================================
    sidebar
===========================================*/
.sidebar {
    .single-widget {
        margin-bottom: 50px; 
        &:last-child {
            margin-bottom: 0;
        }
        .widget_title {
            font-size: 24px;
            color: $secondary-color;
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 25px;
            margin-top: -5px;
            font-weight: 600;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 80px;
                background: $base-color;
                height: 2px;
            }
        }
        .subject-list {
            ul {
                li {
                    border: 1px solid #d7d7d7;
                    padding: 12px 30px;
                    margin-bottom: 10px;
                    position: relative;
                    z-index: 2;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 0;
                        background: $secondary-color;
                        z-index: -1;
                        @include transition($transition);
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                        a {
                            color: $white;
                        }
                        span.icon {
                            color: $white;
                        }
                    }
                    a {
                        display: inline-block;
                        color: #012068;
                        font-family: $heading-font;
                        font-weight: 600;
                        font-size: 18px;
                        @include transition($transition);
                    }
                    span {
                        &.icon {
                            float: right;
                            @include transition($transition);
                        }
                    }
                }
            }
        }
        .contact {
            h4 {
                font-weight: 500;
                font-size: 30px;
                color: #012068;
                margin-bottom: 23px;
                margin-top: -9px;
            }
            ul {
                li {
                    margin-bottom: 13px;
                    .single-line {
                        display: flex;
                        span {
                            display: block;
                            &.icon {
                                font-size: 24px;
                                color: $base-color;
                                margin-right: 20px;
                            }
                            &.text {
                                color: #444444;
                                font-size: 18px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
        .brochures {
            h4 {
                font-weight: 500;
                font-size: 30px;
                color: #012068;
                margin-bottom: 23px;
                margin-top: -9px;
            }
            p {
                color: #444444;
                line-height: 28px;
            }
            .buttons {
                a.brochure {
                    display: inline-block;
                    color: $white;
                    background: $base-color;
                    height: 60px;
                    width: 100%;
                    margin-bottom: 20px;
                    line-height: 56px;
                    padding: 0 30px;
                    font-weight: 700;
                    position: relative;
                    border: 2px solid $base-color;
                    font-size: 18px;
                    z-index: 2;
                    position: relative;
                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background: $secondary-color;
                        @include transition($transition);
                        z-index: -1;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                    img {
                        width: 30px;
                        margin-right: 20px;
                    }
                }
                a.characteristics {
                    display: inline-block;
                    color: $secondary-color;
                    height: 60px;
                    width: 100%;
                    margin-bottom: 20px;
                    line-height: 60px;
                    padding: 0 30px;
                    font-weight: 700;
                    position: relative;
                    font-size: 18px;
                    border: 1px solid #cdcbcb;
                    z-index: 2;
                    position: relative;
                    @include transition($transition);
                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background: $secondary-color;
                        @include transition($transition);
                        z-index: -1;
                    }
                    &:hover {
                        color: $white;
                        &:after {
                            width: 100%;
                        }
                        img {
                            filter: brightness(100) grayscale(1);
                        }
                    }
                    img {
                        width: 30px;
                        margin-right: 20px;
                        // @include transition($transition);
                    }
                }
            }
        }
        .start-banner {
            background: url('../img/start-banner.jpg') center center no-repeat;
            background-size: cover;
            position: relative;
            z-index: 2;
            padding: 49px 40px 40px;
            text-align: center;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: black;
                opacity: .84;
                z-index: -1;
            }
            .part-img {
                height: 60px;
                width: auto;
                margin-bottom: 35px;
                img {
                    height: 100%;
                }
            }
            .part-text {
                p {
                    color: $white;
                    font-size: 16px;
                    font-family: $heading-font;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                h3 {
                    font-size: 40px;
                    font-weight: 700;
                    color: $white;
                    margin-bottom: 28px;
                }
                a.start-button {
                    display: inline-block;
                    height: 50px;
                    width: 220px;
                    background: $white;
                    color: #012068;
                    font-weight: 600;
                    border-radius: 50px;
                    line-height: 50px;
                    text-align: center;
                    overflow: hidden;
                    span.icon {
                        display: inline-block;
                        width: 60px;
                        height: 50px;
                        background: $base-color;
                        color: $white;
                        float: right;
                        @include transition($transition);
                    }
                    &:hover {
                        span.icon {
                            background: $secondary-color;
                        }
                    }
                }
            }
        }
        .search_widget {
            form {
                position: relative;
                input {
                    width: 100%;
                    height: 60px;
                    background: transparent;
                    border: none;
                    padding: 0 30px;
                    color: $secondary-color;
                    border: 1px solid #ececf0;
                }
                .submit_button {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 0;
                    width: 60px;
                    height: 60px;
                    background: transparent;
                    color: $secondary-color;
                    outline: none;
                    border: none;
                    border-left: 1px solid #ececf0;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }
        .category-widget {
            ul {
                li {
                    border-top: 1px solid #ececf0;    
                    padding: 14px 0 15px;
                    &:first-child {
                        border-top: none;
                        padding-top: 0;
                    }
                    a {
                        display: block;
                        color: $secondary-color;
                        font-family: $heading-font;
                        font-weight: 500;
                        font-size: 15px;
                        @include transition($transition);
                        position: relative;
                        &:after {
                            position: absolute;
                            content: '';
                            left: 10px;
                            top: 50%;
                            margin-top: -5px;
                            width: 10px;
                            height: 10px;
                            background: $base-color;
                            @include transition($transition-long);
                            opacity: 0;
                            border-radius: 50%;
                        }
                        &:hover {
                            padding-left: 30px;
                            color: $base-color;
                            &:after {
                                opacity: 1;
                            }
                        }
                        span {
                            &.count {
                                float: right;
                                width: 30px;
                                height: 30px;
                                background: #e8effb;
                                color: #444444;
                                font-family: $heading-font;
                                font-weight: 500;
                                text-align: center;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
        .recent_news_widget {
            .single_news {
                border-bottom: 1px solid #ececf0;
                padding: 25px 0;
                display: flow-root;
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
                &:first-child {
                    padding-top: 0;
                }
                .part-img {
                    width: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                    float: left;
                    margin-right: 30px;
                    img {
                        width: 100%;
                    }
                }
                .part-text {
                    display: table;
                    a {
                        display: inline-block;
                        color: $secondary-color;
                        font-family: $heading-font;
                        font-weight: 500;
                        display: block;
                        line-height: 22px;
                        margin-bottom: 4px;
                        @include transition($transition);
                        &:hover {
                            color: $base-color;
                        }
                    }
                    span {
                        display: inline-block;
                        color: #888;
                        font-size: 14px;
                        i {
                            margin-right: 6px;
                            color: $base-color;
                        }
                    }
                }
            }
        }

        .archives-widget {
            ul {
                li {
                    border-top: 1px solid #ececf0;    
                    padding: 14px 0 15px;
                    &:first-child {
                        border-top: none;
                        padding-top: 0;
                    }
                    a {
                        display: block;
                        color: $secondary-color;
                        font-family: $heading-font;
                        @include transition($transition);
                        position: relative;
                        &:after {
                            position: absolute;
                            content: '';
                            left: 10px;
                            top: 50%;
                            margin-top: -5px;
                            width: 10px;
                            height: 10px;
                            background: $base-color;
                            @include transition($transition-long);
                            opacity: 0;
                            border-radius: 50%;
                        }
                        &:hover {
                            padding-left: 30px;
                            color: $base-color;
                            &:after {
                                opacity: 1;
                            }
                        }
                        span {
                            &.count {
                                float: right;
                                width: 30px;
                                height: 30px;
                                background: #e8effb;
                                color: #444444;
                                font-family: $heading-font;
                                font-weight: 500;
                                text-align: center;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }

        .gallery-widget {
            .profo-row {
                display: flex;
                margin: 0 -5px;
                .single-feed {
                    width: calc(100%/(3-20px));
                    overflow: hidden;
                    position: relative;
                    padding: 0 5px;
                    margin-bottom: 10px;
                    &:hover {
                        .overlapping-btn {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;
                    }
                    .overlapping-btn {
                        position: absolute;
                        top: 0px;
                        left: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        right: 5px;
                        bottom: 0px;
                        background: rgba(255, 14, 31, 0.2);
                        visibility: hidden;
                        opacity: 0;
                        @include transition($transition);
                        .view_photo {
                            display: inline-block;
                            font-size: 14px;
                            color: $white;
                            line-height: 30px;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            border-radius: 50%;
                            background: $base-color;
                        }
                    }
                }
            }
        }
        .tag_widget {
            .single_tag {
                display: inline-block;
                padding: 10px 20px;
                background: transparent;
                color: $white;
                text-transform: capitalize;
                color: $white;
                @include transition($transition);
                margin-bottom: 5px;
                margin-right: 1px;
                border: 1px solid #ececf0;
                color: $secondary-color;
                font-family: $heading-font;
                &:hover {
                    background: $base-color;
                    color: $white;
                }
            }
        }
        .newsletter {
            background: $secondary-color;
            padding: 30px;
            h3 {
                color: $white;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 20px;
                .icon {
                    margin-right: 10px;
                }
            }
            form {
                input {
                    height: 60px;
                    width: 100%;
                    padding: 0 30px;
                    border: none;
                    margin-bottom: 20px;
                }
                button {
                    height: 60px;
                    border: 2px solid $base-color;
                    width: 100%;
                    color: $white;
                    background: $base-color;
                    font-family: $heading-font;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background: $secondary-color;
                        z-index: -1;
                        @include transition($transition);
                    }
                    &:hover {
                        &:after {
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}